body{
  color: white;
  background-color: black;
}

header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

main{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 80%;
  margin: auto;
}

.card{
  display: inline-block;
  width: calc((100% - 120px) / 6);
  height: 400px;
  margin: 10px;
  background-color: #282828;
  overflow-y: auto;
  border-radius: 5px;
  padding: 10px;
}

img{
  width: 100%;
}